.main-container{
    .header{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;

        h1, p{
            margin: 0;
            font-family: sans-serif;
        }

        h1::after{
            content: "";
            display: block;
            width: 40%; 
            height: 4px; 
            margin-top: 5px;
            background: linear-gradient(to right, red, blue);
            margin: 0 auto;
            margin-top: 6px;
        }

        h1{
            font-size: 28px;
        }

        p{
            color: grey;
            margin-top: 15px;
            font-size: 16px;
        }
    }
}