.lists-container{
    padding: 15px 15px 15px;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    border: unset;
}

.item-wrapper{
    margin-bottom: 10px;
}

.item-wrapper:last-child{
    margin-bottom: 0px;
}

.emptyList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg{
        width: 6rem;
        height: 6rem;
    }

    h3, p{
        margin: 0;
        margin-bottom: 10px;
    }
}