.main-container{
    // background-color: beige;
    padding: 10px;
    max-width: 425px;
    margin:  auto;
    border: 1px solid grey;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(64, 47, 7, 0.613), rgb(136, 157, 233));

    svg, button{
        cursor: pointer;
    }
}